# Obsidian (por si acaso)
.obsidian/
.trash/

# Linux / KDE
.directory
*~

# Otros sistemas
.DS_Store
Thumbs.db

# Claude
.claude/
CLAUDE.md

# Obsidian (requeridos)
.obsidian/workspace.json
.obsidian/workspace-mobile.json
